.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
scRNA/*
bulkRNA/.snakemake/*
bulkRNA/aligned/*
bulkRNA/rawQC/*
bulkRNA/results/*
bulkRNA/trimmedQC/*
bulkRNA/trimmedReads/*
bulkRNA/starAligned/*
bulkRNA/scripts/*/logs/*
bulkRNA/refs/backup_Snakefile
bulkRNA/refs/transcript_quant/*
bulkRNA/refs/starGenomeDir/*
bulkRNA/featureCounts/*
bulkRNA/rObjects/*
aducanumab.Rproj