.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
scRNA/cellbender/*
scRNA/count/*
scRNA/results/*
scRNA/rObjects/*
scRNA/scripts/02_cellbender/*
scRNA/scripts/03_R_analysis/*
bulkRNA/.snakemake/*
bulkRNA/aligned/*
bulkRNA/rawQC/*
bulkRNA/results/*
bulkRNA/trimmedQC/*
bulkRNA/trimmedReads/*
bulkRNA/starAligned/*
bulkRNA/scripts/*/logs/*
bulkRNA/scripts/03_R_analysis/*
bulkRNA/refs/backup_Snakefile
bulkRNA/refs/transcript_quant/*
bulkRNA/refs/starGenomeDir/*
bulkRNA/featureCounts/*
bulkRNA/rObjects/*
aducanumab.Rproj